@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FF7978;
    background-image: url("./images/bg-intro-mobile.png");
    background-position: cover;
    font-family: "Poppins";
}

.btn-form-price {
    box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}

.form-container {
    box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}
